package-db: /home/kcarter/scrap/comonad/cabal-dev/packages-7.6.1.conf
local-repo: /home/kcarter/scrap/comonad/cabal-dev/packages
user-install: False
remote-repo: hackage.haskell.org:http://hackage.haskell.org/packages/archive
remote-repo-cache: /home/kcarter/.cabal/packages
world-file: /home/kcarter/.cabal/world
library-profiling: True
build-summary: /home/kcarter/scrap/comonad/cabal-dev/logs/build.log
remote-build-reporting: anonymous
install-dirs user
  prefix: /home/kcarter/scrap/comonad/cabal-dev/
install-dirs global
  prefix: /home/kcarter/scrap/comonad/cabal-dev/